.line{
    height: 50px;
    border-left: 5px solid orange;
    margin: 0 20px;
    border-radius: 4px 4px;
}
.txt{
    margin-left: -90px;
    margin-top: -3px;
}
.dropdown{
    text-align: right;
    margin-top: 10px;
}
.dropdown-toggle{
    border: none;
    background-color: white;
}
.truncate-multiline {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; 
    line-height: 1.5;
    height: 3em;
    max-height: 3em;
}

a{
    text-decoration: none;
    color: black;
}
hr{
    height: 3px;
    background-color: black;
}
.card{
    height: 500px;
}
.avt{
    border-radius: 50%; 
    object-fit: cover; 
}

h6{
    margin-top: 5px;
}.image-container {
    position: relative; /* Để sử dụng position cho các phần tử con */
    overflow: hidden; /* Ẩn phần bị tràn ra ngoài */
    height: 283px; /* Chiều cao của vùng chứa ảnh */
    background-color: #f0f0f0; /* Màu nền cho vùng chứa ảnh */
}

.image-container img {
    max-width: 100%; /* Giới hạn chiều rộng ảnh */
    height: auto; /* Giữ tỷ lệ cho chiều cao */
    object-fit: cover; /* Đảm bảo ảnh không bị méo */
}

.color-block {
    position: absolute; /* Đặt khối màu ở vị trí tuyệt đối */
    top: 0; /* Bắt đầu từ trên cùng */
    left: 0; /* Bắt đầu từ bên trái */
    right: 0; /* Kéo dài đến bên phải */
    bottom: 0; /* Kéo dài đến đáy */
    background-color: rgba(255, 0, 0, 0.5); /* Màu sắc và độ trong suốt */
    z-index: -1; /* Đưa khối màu xuống dưới ảnh */
}